html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    overflow-x: auto;   
    overflow-y: hidden;
    /*scrollbar-width: none;*/
}

.h {
    position: absolute;
    color: darkgray;
    top: 47%;
    right: 4%;
    font-size: 18px;
}

.img-g {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.img-g a {
    width: 40%;
    height: 50%;
}

.img-g img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

footer {
    position: fixed;
    top: 98%;
    left: 94%;
    color: lightgray;
    font-size: 10px;
    z-index: 10;
}

section img {
    position: absolute;
}

.h2 {
    position: fixed;
    color: lightgray;
    font-size: 34px;
    left: 1%;
    top: 2%;
    z-index: 10;
}

.a {
    height: 100vh;
}

.a2 {
    position: absolute;
    width: 30vh;
    left: 30%;
    top: 13%;
}

.a3 {
    position: absolute;
    width: 10vh;
    left: 30%;
    top: 28%;
}

.a4 {
    position: absolute;
    width: 20vh;
    left: 35%;
    top: 55%;
}

.a5 {
    position: absolute;
    width: 10vh;
    left: 29%;
    top: 43%;
}

.a6 {
    position: absolute;
    width: 90vh;
    left: 44%;
    bottom: -2%;
}

.a7 {
    position: absolute;
    width: 11vh;
    left: 76%;
    top: 0%;
}

.a8 {
    position: absolute;
    width: 182vh;
    left: 90%;
    bottom: 0%;
}

.a9 {
    position: absolute;
    width: 15vh;
    left: 173%;
    top: 0%;
}

.a10 {
    position: absolute;
    width: 15vh;
    left: 178%;
    top: 0%;
}

.a11 {
    position: absolute;
    width: 100vh;
    left: 188%;
    bottom: -8%;
}

.a12 {
    position: absolute;
    height: 100vh;
    left: 245%;
    top: 0%;
}

.a13 {
    position: absolute;
    width: 25vh;
    left: 270%;
    bottom: -2%;
}

.a14 {
    position: absolute;
    width: 10vh;
    left: 282%;
    top: 30%;
}

.b {
    position: absolute;
    height: 100vh;
    left: 0%;
    top: 0%;
    z-index: 1;
}

.b1 {
    position: absolute;
    width: 45vh;
    left: 55%;
    top: 23%;
}

.b2 {
    position: absolute;
    height: 77vh;
    left: 85%;
    top: 5%;
}

.b3 {
    position: absolute;
    width: 40vh;
    left: 86%;
    top: 32%;
}

.b4 {
    position: absolute;
    width: 44vh;
    left: 123%;
    top: 21%;
}

.b5 {
    position: absolute;
    width: 21vh;
    left: 102%;
    top: 40%;
}

.b6 {
    position: absolute;
    width: 63vh;
    left: 160%;
    top: 22%;
}

.b7 {
    position: absolute;
    width: 30vh;
    left: 7%;
    top: 26%;
    z-index: 2;
}

.b8 {
    position: absolute;
    width: 40vh;
    left: 192%;
    bottom: -10%;
}

.b9 {
    position: absolute;
    width: 40vh;
    left: 173%;
    bottom: -5%;
}

.b10 {
    position: absolute;
    width: 38vh;
    left: 210%;
    bottom: -5%;
}

.b11 {
    position: absolute;
    width: 30vh;
    left: 235%;
    bottom: 25%;
}

.b12 {
    position: absolute;
    height: 100vh;
    left: 232%;
    bottom: 0%;
}

.c {
    position: absolute;
    height: 120vh;
    left: -7%;
    top: -9%;
    z-index: 1;
}

.c1 {
    position: absolute;
    width: 32vh;
    left: 38%;
    top: 23%;
}

.c2 {
    position: absolute;
    height: 50vh;
    left: 53%;
    bottom: -4%;
}

.c3 {
    position: absolute;
    width: 100vh;
    left: 72%;
    top: 6%;
}

.c4 {
    position: absolute;
    width: 60vh;
    left: 100%;
    bottom: 0%;
}

.c5 {
    position: absolute;
    height: 100vh;
    left: 135%;
    top: 0%;
}

.c6 {
    position: absolute;
    width: 90vh;
    left: 178%;
    top: 22%;
}

.c7 {
    position: absolute;
    width: 80vh;
    left: 221%;
    top: 24%;
    z-index: 2;
}

.c8 {
    position: absolute;
    height: 100vh;
    left: 268%;
    bottom: 0%;
}

.c9 {
    position: absolute;
    width: 25vh;
    left: 314%;
    top: 0%;
}

.c10 {
    position: absolute;
    width: 32vh;
    left: 315%;
    bottom: 5%;
}

.d {
    position: absolute;
    height: 100vh;
    left: 0%;
    top: 0%;
    z-index: 1;
}

.d1 {
    position: absolute;
    width: 34vh;
    left: 51%;
    bottom: 0%;
}

.d2 {
    position: absolute;
    height: 70vh;
    left: 67%;
    bottom: -10%;
}

.d3 {
    position: absolute;
    width: 45vh;
    left: 86%;
    top: 10%;
}

.d4 {
    position: absolute;
    width: 20vh;
    left: 76%;
    top: 6%;
}

.d5 {
    position: absolute;
    height: 100vh;
    left: 105%;
    top: 0%;
}

.d6 {
    position: absolute;
    width: 70vh;
    left: 175%;
    top: 22%;
}

.d7 {
    position: absolute;
    width: 7vh;
    left: 110%;
    bottom: 7%;
}

.d8 {
    position: absolute;
    height: 56vh;
    left: 212%;
    bottom: -8%;
}

.d9 {
    position: absolute;
    width: 55vh;
    left: 252%;
    bottom: -5%;
}

.d10 {
    position: absolute;
    width: 18vh;
    left: 239%;
    bottom: 60%;
}

@media screen and (max-width: 1000px) {

    .one {
        content: url("img/IMG_1678 3.png");
    }

    .two {
        content: url("img/IMG_1700.png");
    }

    .three {
        content: url("img/IMG_2572 3.png");
    }

    .four {
        content: url("img/IMG_2632.png");
    }

    .img-g {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 80vh;
    }

    .img-g a {
        width: 50%;
        height: 40%;
    }

    .img-g img {
        width: 100%;
        /*height: 410px;*/
        object-fit: cover;
        display: block;
    }

    .h {
        position: absolute;
        text-align: center;
        top: auto;
        bottom: 55px;
        left: 49%;
    transform: translateX(-50%);
    text-align: center;
    }
    .h2 {
    position: fixed;
    color: lightgray;
    font-size: 34px;
    left: 1%;
    top: 2%;
    z-index: 10;
    }

    .a {
        height: 100vh;
    }

    .a2 {
        position: absolute;
        width: 30vh;
        left: 97%;
        top: 13%;
    }

    .a3 {
        position: absolute;
        width: 10vh;
        left: 97%;
        top: 28%;
    }

    .a4 {
        position: absolute;
        width: 20vh;
        left: 114%;
        top: 55%;
    }

    .a5 {
        position: absolute;
        width: 10vh;
        left: 97%;
        top: 43%;
    }

    .a6 {
        position: absolute;
        width: 90vh;
        left: 140%;
        bottom: -2%;
    }

    .a7 {
        position: absolute;
        width: 11vh;
        left: 540%;
        top: 0%;
    }

    .a8 {
        position: absolute;
        width: 182vh;
        left: 276%;
        bottom: 0%;
    }

    .a9 {
        position: absolute;
        width: 15vh;
        left: 245%;
        top: 0%;
    }

    .a10 {
        position: absolute;
        width: 15vh;
        left: 555%;
        top: 0%;
    }

    .a11 {
        position: absolute;
        width: 100vh;
        left: 565%;
        bottom: -8%;
    }

    .a12 {
        position: absolute;
        height: 100vh;
        left: 730%;
        top: 0%;
    }

    .a13 {
        position: absolute;
        width: 25vh;
        left: 798%;
        bottom: -2%;
    }

    .a14 {
        position: absolute;
        width: 10vh;
        left: 830%;
        top: 30%;
    }

    .b {
        position: absolute;
        height: 100vh;
        left: 0%;
        top: 0%;
        z-index: 1;
    }

    .b1 {
        position: absolute;
        width: 45vh;
        left: 157%;
        top: 23%;
    }

    .b2 {
        position: absolute;
        height: 77vh;
        left: 238%;
        top: 5%;
    }

    .b3 {
        position: absolute;
        width: 40vh;
        left: 240%;
        top: 32%;
    }

    .b4 {
        position: absolute;
        width: 44vh;
        left: 350%;
        top: 21%;
    }

    .b5 {
        position: absolute;
        width: 21vh;
        left: 290%;
        top: 40%;
    }

    .b6 {
        position: absolute;
        width: 63vh;
        left: 455%;
        top: 22%;
    }

    .b7 {
        position: absolute;
        width: 30vh;
        left: 20%;
        top: 26%;
        z-index: 2;
    }

    .b8 {
        position: absolute;
        width: 40vh;
        left: 552%;
        bottom: -10%;
    }

    .b9 {
        position: absolute;
        width: 40vh;
        left: 490%;
        bottom: -5%;
    }

    .b10 {
        position: absolute;
        width: 38vh;
        left: 610%;
        bottom: -5%;
    }

    .b11 {
        position: absolute;
        width: 30vh;
        left: 675%;
        bottom: 25%;
    }

    .b12 {
        position: absolute;
        height: 100vh;
        left: 668%;
        bottom: 0%;
    }

    .c {
        position: absolute;
        height: 120vh;
        left: -20%;
        top: -9%;
        z-index: 1;
    }

    .c1 {
        position: absolute;
        width: 32vh;
        left: 107%;
        top: 23%;
    }

    .c2 {
        position: absolute;
        height: 50vh;
        left: 145%;
        bottom: -4%;
    }

    .c3 {
        position: absolute;
        width: 100vh;
        left: 185%;
        top: 6%;
    }

    .c4 {
        position: absolute;
        width: 60vh;
        left: 270%;
        bottom: 0%;
    }

    .c5 {
        position: absolute;
        height: 100vh;
        left: 370%;
        top: 0%;
    }

    .c6 {
        position: absolute;
        width: 90vh;
        left: 495%;
        top: 22%;
    }

    .c7 {
        position: absolute;
        width: 80vh;
        left: 623%;
        top: 24%;
        z-index: 2;
    }

    .c8 {
        position: absolute;
        height: 100vh;
        left: 757%;
        bottom: 0%;
    }

    .c9 {
        position: absolute;
        width: 25vh;
        left: 895%;
        top: 0%;
    }

    .c10 {
        position: absolute;
        width: 32vh;
        left: 900%;
        bottom: 5%;
    }

    .d {
        position: absolute;
        height: 100vh;
        left: 0%;
        top: 0%;
        z-index: 1;
    }

    .d1 {
        position: absolute;
        width: 34vh;
        left: 151%;
        bottom: 0%;
    }

    .d2 {
        position: absolute;
        height: 70vh;
        left: 195%;
        bottom: -10%;
    }

    .d3 {
        position: absolute;
        width: 45vh;
        left: 247%;
        top: 10%;
    }

    .d4 {
        position: absolute;
        width: 20vh;
        left: 220%;
        top: 6%;
    }

    .d5 {
        position: absolute;
        height: 100vh;
        left: 295%;
        top: 0%;
    }

    .d6 {
        position: absolute;
        width: 70vh;
        left: 497%;
        top: 22%;
    }

    .d7 {
        position: absolute;
        width: 7vh;
        left: 307%;
        bottom: 7%;
    }

    .d8 {
        position: absolute;
        height: 56vh;
        left: 600%;
        bottom: -8%;
    }

    .d9 {
        position: absolute;
        width: 55vh;
        left: 715%;
        bottom: -5%;
    }

    .d10 {
        position: absolute;
        width: 18vh;
        left: 682%;
        bottom: 60%;
    }

    }






